
<div class="example">
    <h1 class="page-header">Cloudinary image directive</h1>
    
    <p>Initialize your app by creating a module called <code>DemoModule</code></p>
    <pre>
        <code class="language-typescript">
            {{ CODE_SAMPLES.module }}
        </code>
    </pre>
    <p>Then create the <code>Demo</code> component with <code>CloudinaryOptions</code>. The <code>cloud_name</code> property is required.</p>
    <pre>
        <code class="language-typescript">
            {{ CODE_SAMPLES.components['cl-image']}}
        </code>
    </pre>
    <p>Then use the <code>cl-image</code> tag to display your image with the corresponding transformation, as in the following examples</p>
    
    <!-- 1rst example -->
    <h2 class="chapter-header">Displaying an image</h2>
    <pre>
        <code class="language-markup">
            {{ CODE_SAMPLES.templates['cl-image'].simple}}
        </code>
    </pre>
    <p style="text-align:center;">
        <cl-image public-id="sample" [options]="options" height="334" alt="Sample image" title="Sample image title"></cl-image>
    </p>
    <!-- 2nd example -->
    <h2 class="chapter-header">With a limited height</h2>
    <pre>
        <code class="language-markup">
            {{ CODE_SAMPLES.templates['cl-image']['transform-height']}}
        </code>
    </pre>
    <p style="text-align:center;">
        <cl-image public-id="sample" [options]="options" height="200" alt="Sample image" title="Sample image title"></cl-image>
    </p>
    <h2 class="chapter-header">Cropped to width and height</h2>
    <pre>
        <code class="language-markup">
            {{ CODE_SAMPLES.templates['cl-image']['transform-crop']}}
        </code>
    </pre>
    <p style="text-align:center;">
        <cl-image public-id="sample" [options]="options" width="300" height="200" crop="crop"></cl-image>
    </p>
    <h2 class="chapter-header">With automatic cropping</h2>
    <pre>
        <code class="language-markup">
            {{ CODE_SAMPLES.templates['cl-image']['transform-autocrop']}}
        </code>
    </pre>
    <p style="text-align:center;">
        <span style="display:inline-block;vertical-align:top;margin-left:10px;margin-right:10px">
            <cl-image public-id="basketball_in_net" [options]="options" height="200"></cl-image>
            <p><b>Original</b></p>
        </span>
        <span style="display:inline-block;vertical-align:top;margin-left:10px;margin-right:10px">
            <cl-image public-id="basketball_in_net" [options]="options" width="200" height="300" crop="fill" gravity="center"></cl-image>
            <p><b>Regular fill</b></p>
        </span>
        <span style="display:inline-block;vertical-align:top;margin-left:10px;margin-right:10px">
            <cl-image public-id="basketball_in_net" [options]="options" width="200" height="300" crop="fill" gravity="auto"></cl-image>
            <p><b>Automatic fill</b></p>
        </span>
    </p>
    <h2 class="chapter-header">Available transformations</h2>
    <p>Please check the <a href="https://ekito.github.io/ng2-cloudinary/docs/classes/cloudinarytransforms.html">detailed documentation</a> for an exhaustive list of available transformations.</p>
    <p>For more details about transformations options, check the <a href="http://cloudinary.com/documentation/image_transformation_reference" >cloudinary image transformation reference documentation</a></p>
</div>