
<div class="example">
    <h1 class="page-header">Cloudinary image directive</h1>
    
    <p>Initialize your app by creating a module called <code>DemoModule</code></p>
    <pre>
        <code class="language-typescript">
            {{ CODE_SAMPLES.module }}
        </code>
    </pre>
    <p>Then create the <code>Demo</code> component with <code>CloudinaryOptions</code>. The <code>cloud_name</code> property is required.</p>
    <pre>
        <code class="language-typescript">
            {{ CODE_SAMPLES.components['cl-image']}}
        </code>
    </pre>
    <p>For example, displaying the image with a public ID of <code>sample</code> uploaded to Cloudinary's <code>demo</code> account in <code>jpg</code> format:</p>
    <pre>
        <code class="language-markup">
            {{ CODE_SAMPLES.templates['cl-image'].simple}}
        </code>
    </pre>
    <p style="text-align:center;">
        <cl-image public-id="sample" [options]="options" height="334" alt="Sample image" title="Sample image title"></cl-image>
    </p>
    <p>Displaying the same image with a limited <code>height</code> of 200 pixels</p>
    <pre>
        <code class="language-markup">
            {{ CODE_SAMPLES.templates['cl-image']['transform-height']}}
        </code>
    </pre>
    <p style="text-align:center;">
        <cl-image public-id="sample" [options]="options" height="200" alt="Sample image" title="Sample image title"></cl-image>
    </p>
    <div>Image transformations are limited to the following parameters in the current version: 
        <ul>
            <li>
                <a href="http://cloudinary.com/documentation/image_transformations#resizing_and_cropping_images"><code>height</code>, <code>width</code></a>: in pixels only (aspect ratio might be supported in a futur version)
            </li>
            <li>
                <a href="http://cloudinary.com/documentation/image_transformations#resizing_and_cropping_images"><code>crop</code></a>
            </li>
            <li><a href="http://cloudinary.com/documentation/image_transformations#control_gravity"><code>gravity</code>, <code>x</code>, <code>y</code></a></li>
        </ul>
    </div>
    <p>For example, displaying the same image cropped to a width of 300 pixels and a height of 200 pixels.</p>
    <pre>
        <code class="language-markup">
            {{ CODE_SAMPLES.templates['cl-image']['transform-crop']}}
        </code>
    </pre>
    <p style="text-align:center;">
        <cl-image public-id="sample" [options]="options" width="300" height="200" crop="crop"></cl-image>
    </p>
    <p>Another example, displaying an image with automatic cropping and fill mode.</p>
    <pre>
        <code class="language-markup">
            {{ CODE_SAMPLES.templates['cl-image']['transform-autocrop']}}
        </code>
    </pre>
    <p style="text-align:center;">
        <span style="display:inline-block;vertical-align:top;margin-left:10px;margin-right:10px">
            <cl-image public-id="basketball_in_net" [options]="options" height="200"></cl-image>
            <p><b>Original</b></p>
        </span>
        <span style="display:inline-block;vertical-align:top;margin-left:10px;margin-right:10px">
            <cl-image public-id="basketball_in_net" [options]="options" width="200" height="300" crop="fill" gravity="center"></cl-image>
            <p><b>Regular fill</b></p>
        </span>
        <span style="display:inline-block;vertical-align:top;margin-left:10px;margin-right:10px">
            <cl-image public-id="basketball_in_net" [options]="options" width="200" height="300" crop="fill" gravity="auto"></cl-image>
            <p><b>Automatic fill</b></p>
        </span>
    </p>
</div>